<template>
  <q-page class="full-height text-main q-pt-sm column col justify-center items-center">
    <q-card dark style="width: 600px">
      <q-card-section>
        <div class="text-heading text-size-lg text-center">
          {{ $t("UI.LOGIN.WELCOME") }}
        </div>

        <div v-if="!isLoggedIn">
          <q-form @submit="submitLogin">

            <q-input dark class="q-mt-md" type="text" label="E-Mail" v-model="email" filled required
                    autocomplete="email"
            />
            <q-input dark class="q-mt-md" type="password" :label="$t('UI.GENERAL.PASSWORD')"
                    v-model="password" filled required autocomplete="current-password"
            />
            <q-btn label="Login" type="submit" color="primary" class="full-width q-my-md" />
          </q-form>
        </div>

        <div v-else>
          <q-form @submit="submitLoginAsJudge">
            <q-select class="q-mt-md"
                      dark
                      required
                      :label="$t('UI.GENERAL.JUDGE')"
                      outlined
                      filled
                      dense
                      v-model="selectedJudgeAccount"
                      hide-dropdown-icon
                      use-input
                      fill-input
                      hide-selected
                      option-value="id"
                      :option-label="(item) => item.firstName + ' ' + item.familyName"
                      clearable
                      input-debounce="500"
                      @filter="filterJudges"
                      :options="judgeAccounts"
            />
            <q-btn :label="$t('UI.LOGIN.LOGIN_JUDGE')" type="submit" color="primary" class="full-width q-my-md" />
          </q-form>
          <div v-if="isJudge" class="q-mt-sm">
            <div class="text-bold text-center full-width">
              {{ $t("UI.LOGIN.OR") }}
            </div>
            <q-form @submit="continueToNextPage" class="q-mt-md">
              <q-btn :label="$t('UI.LOGIN.CONTINUE_SELF_JUDGE')" type="submit" color="primary" class="full-width q-my-sm" />
            </q-form>
          </div>
        </div>
      </q-card-section>
    </q-card>

    <q-banner v-if="hasError || noFittingRole" dense rounded class="q-mt-md text-white text-center bg-red">
      <div v-if="noFittingRole">
        {{ $t("UI.LOGIN.ERR_NO_FITTING_ROLE") }}
      </div>
      <div v-else-if="hasError">
        {{ $t("UI.LOGIN.ERR_INVALID_LOGIN") }}
      </div>
    </q-banner>
  </q-page>
</template>

<script>
import AuthenticateAsUserQuery from 'Queries/AuthenticateAsUser.gql'
import FindAccountsWithProfiles from 'Queries/FindAccountsWithProfiles.gql'

export default {
  data () {
    return {
      email: '',
      password: '',
      hasError: false,
      isLoggedIn: false,
      isJudge: false,
      selectedJudgeAccount: null,
      judgeAccounts: null,
      authResult: null,
      noFittingRole: false,
      platform: process.env.PLATFORM
    }
  },
  created () {
    if (this.$route.query.token) {
      this.$emit('loading', true)
      this.$auth.authenticateWithToken(this.$route.query.token, process.env.PLATFORM ? process.env.PLATFORM : 'ED_BHO')
        .then(this.handleAuthResponse)
        .catch(_ => {
          this.$q.notify({
            color: 'negative',
            message: this.$t('UI.LOGIN.ERR_AUTOMATIC_LOGIN')
          })
        })
        .finally(() => this.$emit('loading', false))
    }
  },
  methods: {
    submitLogin: function () {
      this.$emit('loading', true)
      this.hasError = false

      this.$auth.authenticate(this.email, this.password, process.env.PLATFORM ? process.env.PLATFORM : 'ED_BHO')
        .then(this.handleAuthResponse)
        .catch(e => {
          this.hasError = true
        }).finally(() => {
          this.$emit('loading', false)
        })
    },
    handleAuthResponse: function (response) {
      // We do not let apollo cache automatically, since it also caches the e-mail/password combination
      // which is a big no-no
      this.noFittingRole = false
      const authResult = response.data.authResult
      const authorities = authResult.account.authorities
      const profiles = authResult.account.profiles
      const canAuthenticateAsUser = authorities.indexOf('ROLE_ADMIN') !== -1 || authorities.indexOf('AUTHENTICATE_AS_USER') !== -1
      this.isJudge = profiles.filter(profile => profile.__typename === 'JudgeProfile' && profile.judge).length > 0

      if (!canAuthenticateAsUser && !this.isJudge) {
        this.noFittingRole = true
        return
      }

      window.localStorage.setItem('isJudge', this.isJudge)
      window.localStorage.setItem('authResult', JSON.stringify(authResult))

      if (canAuthenticateAsUser) {
        this.isLoggedIn = true
        return
      }

      window.location.href = this.$route.query.from ? this.$route.query.from : '/welcome'
    },
    submitLoginAsJudge: function () {
      if (this.selectedJudgeAccount && this.selectedJudgeAccount.email) {
        window.localStorage.setItem('isJudge', true)
        this.$emit('loading', true)
        this.hasError = false
        this.$apollo.query({
          query: AuthenticateAsUserQuery,
          variables: { email: this.selectedJudgeAccount.email },
          fetchPolicy: 'no-cache'
        }).then(response => {
          this.$emit('loading', false)
          window.localStorage.setItem('authResult', JSON.stringify(response.data.authResult))
          window.location.href = this.$route.query.from ? this.$route.query.from : '/welcome'
        }).catch(e => {
          this.$emit('loading', false)
          this.hasError = true
        })
      } else {
        this.$q.notify({
          color: 'negative',
          message: 'Login as ' + this.selectedJudgeAccount.firstName + ' ' + this.selectedJudgeAccount.familyName + ' not possible'
        })
      }
    },
    continueToNextPage: function () {
      window.location.href = this.$route.query.from ? this.$route.query.from : '/welcome'
    },
    filterJudges: function (val, update, abort) {
      if (val.length < 3) {
        abort()
        return
      }

      const variables = {
        term: val,
        profileTypes: ['JUDGE']
      }
      this.$apollo.query({
        query: FindAccountsWithProfiles,
        variables: variables
      }).then(response => {
        update(() => {
          this.judgeAccounts = response.data.findAccountsWithProfiles.filter(account => account.profiles.filter(profile => profile.__typename === 'JudgeProfile' && profile.judge).length > 0)
        })
      }).catch(e => {
        this.$q.notify({
          color: 'negative',
          message: 'There was an error loading the data. Please try again'
        })
        console.error(e)
        abort()
      })
    }
  }
}
</script>
