<template>
  <q-page class="column col justify-center items-center" padding>
    <q-card class="full-width q-mb-sm bg-grey-9" dark>
      <q-card-section class="row justify-between">
        <div class="text-h6 text-cyan link">
          <router-link :to="`/rounds/${$route.params.showId}/${$route.params.competitionId}`">Return to rounds</router-link>
        </div>
        <q-card class="col-9 bg-grey-8 text-left" dark flat>
          <div v-if="round.status === 'RUNNING'"
                class="absolute-left justify-center column bg-cyan"
                style="width: 30px; border-radius: 5px 0 0 5px">
            <q-item-label class="text-h6 self-center q-mt-sm rotate-270">LIVE</q-item-label>
          </div>
          <q-item>
            <q-item-section avatar class="text-h6 text-center q-ml-lg" v-if="round">{{ round.number }}</q-item-section>
            <q-item-section class="text-h5" v-if="round">
              <q-item-label>{{ round.name }}</q-item-label>
              <q-item-label class="text-subtitle1 text-grey-6">{{ _.filter(competitors, c=>c.status!=='UPCOMING').length }} of {{ competitors.length }} competitors finished</q-item-label>
            </q-item-section>
          </q-item>
          <q-linear-progress
            :value="_.filter(competitors, c=>c.status!=='UPCOMING').length / competitors.length"
            rounded size="lg"
            color="cyan"
            track-color="grey"
          />
        </q-card>
      </q-card-section>
      <q-card-section class="text-subtitle1 q-py-none" v-if="!(filteredFinishedRoundEntries.length > 0) && filteredUpcomingRoundEntries.length > 0"
        >{{ filteredUpcomingRoundEntries.length > 0 ? 'These competitors are availiable' : 'No competitors available' }}</q-card-section>
      <q-card-section>
        <q-card class="list-card full-width q-mb-sm bg-grey-8" dark flat
                v-for="entry in filteredUpcomingRoundEntries"
                :key="entry.id">
          <q-item class="q-pa-md q-py-none" clickable v-ripple
                  @click="navigateToScoresheet(entry.id)">
            <div v-if="entry.status === 'RUNNING'"
                  class="absolute-left justify-center column bg-cyan"
                  style="width: 30px; border-radius: 5px 0 0 5px">
              <q-item-label class="text-h6 self-center q-mt-sm rotate-270">LIVE</q-item-label>
            </div>
            <q-item-section avatar class="q-ml-lg q-pr-sm">
              <flag :ioc="getState(entry, true)" size="45" style="margin-top: -10px"/>
              <div style="margin-bottom: -10px"
                   class="text-uppercase text-subtitle self-center">{{ getState(entry) }}</div>
            </q-item-section>
            <q-item-section>
              <q-item-label class="text-h5">{{ entry.competitor.athlete.firstName }} {{ entry.competitor.athlete.familyName }}</q-item-label>
              <q-item-label class="text-subtitle1 text-grey-5">{{ entry.competitor.horse.name }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-card>
      </q-card-section>
      <q-card-section class="text-subtitle1 q-py-none" v-if="filteredFinishedRoundEntries.length > 0">Finished competitors</q-card-section>
      <q-card-section>
        <q-card class="list-card full-width q-mb-sm bg-grey-8" dark
                v-for="entry in filteredFinishedRoundEntries"
                :key="entry.id">
          <q-item class="q-pa-md q-py-none" clickable>
            <div v-if="entry.status !== 'UPCOMING'"
                 class="absolute-left justify-center column bg-green-7"
                 style="width: 30px; border-radius: 5px 0 0 5px">
              <q-item-label class="text-h6 self-center q-mt-lg rotate-270">DONE</q-item-label>
            </div>
            <q-item-section avatar class="q-ml-lg q-pr-sm">
              <flag :ioc="getState(entry, true)" size="45" style="margin-top: -10px"/>
              <div style="margin-bottom: -10px"
                   class="text-uppercase text-subtitle self-center">{{ getState(entry) }}</div>
            </q-item-section>
            <q-item-section>
              <q-item-label class="text-h5">{{ entry.competitor.athlete.firstName }} {{ entry.competitor.athlete.familyName }}</q-item-label>
              <q-item-label class="text-subtitle1 text-grey-5">{{ entry.competitor.horse.name }}</q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item class="q-py-none">
                <q-item-section class="text-subtitle1 text-center">
                  <q-item-label>{{ entry.resultOfficial }}</q-item-label>
                  <q-item-label class="text-primary" v-if="entry.rank">Rank {{ entry.rank }}</q-item-label>
                </q-item-section>
              </q-item>
            </q-item-section>
          </q-item>
        </q-card>
      </q-card-section>
    </q-card>
  </q-page>
</template>
<script>
import getCampDraftingRoundEntries from 'Queries/competition/getCampDraftingRound.gql'
import Flag from 'Components/Flag.vue'

export default {
  components: { Flag },
  data () {
    return {
      round: {},
      competitors: [],
      judge: {},
      subscriptions: [],
      redirectLink: ''
    }
  },
  apollo: {
    round: {
      query: getCampDraftingRoundEntries,
      variables () { return { roundId: this.$route.params.roundId, competitionId: this.$route.params.competitionId } },
      watchLoading (isLoading) {
        this.isQueryLoading = isLoading
      },
      result ({ data, loading, networkStatus }) {
        if (data?.round) {
          this.round = data.round
          this.competitors = data.round?.roundEntries
        }
        if (data?.campDraftingCompetition) {
          const account = this.$auth.getUser()
          this.judge = Object.assign({}, this._.find(data.campDraftingCompetition?.competitionJudges, judge => {
            return this._.some(account.profiles, profile => judge.judge?.id === profile.judge?.id)
          }))
        }
      }
    }
  },
  mounted () {
    this.subscribeToSockets()
  },
  computed: {
    filteredUpcomingRoundEntries () {
      return this._.chain(this.competitors)
        .filter(round => round.status === 'UPCOMING' || round.status === 'RUNNING')
        .orderBy('numberInRound')
        .value()
    },
    filteredFinishedRoundEntries () {
      return this._.chain(this.competitors)
        // .reject(round => round.status === 'UPCOMING' || round.status === 'RUNNING')
        .orderBy('rank')
        .value()
    }
  },
  methods: {
    subscribeToSockets () {
      if (!this.isSubscribed) {
        this.isSubscribed = true
        this.connectSubscriptionIndex = this.$stomp.subscribeToConnect(() => {
          if (this.$route.params.competitionId) {
            this.subscriptions.push(
              this.$stomp.subscribe(`/topic/camp-drafting/${this.$route.params.competitionId}/entry/started`, this.onEntryStarted.bind(this))
            )
            this.subscriptions.push(
              this.$stomp.subscribe(`/topic/camp-drafting/${this.$route.params.competitionId}/entry/updated`, this.updateRoundEntryScores.bind(this))
            )
          }
        })
        this.disconnectSubscriptionIndex = this.$stomp.subscribeToDisconnect(() => {
          this.subscriptions.forEach(subscription => { subscription.unsubscribe() })
          this.subscriptions.splice(0, this.subscriptions.length)
        })
      }
    },
    onEntryStarted (value) {
      const startData = JSON.parse(value.body)
      if (!startData.roundEntryId || this.filteredUpcomingRoundEntries.length === 0) return
      // eslint-disable-next-line eqeqeq
      let liveCompetitor = this._.find(this.filteredUpcomingRoundEntries, competitor => competitor.id == startData.roundEntryId) || {}
      liveCompetitor.status = liveCompetitor.status !== 'UPCOMING' ? liveCompetitor.status : 'RUNNING'
    },
    updateRoundEntryScores (msgResponse) {
      const updateInformation = JSON.parse(msgResponse.body)
      if (updateInformation.type === 'UPDATED') {
        const competitor = this._.find(this.competitors, competitor => Number(competitor.id) === Number(updateInformation.id))
        Object.assign(competitor, {
          rank: updateInformation.rank,
          resultOfficial: updateInformation.resultOfficial,
          status: updateInformation.status,
          judgeResults: updateInformation.judgeResults
        })
      }
    },
    getState (entry, flag = false) {
      let value
      if ((entry.competitor?.athlete?.club?.name)) {
        switch (entry.competitor?.athlete?.club?.name) {
          case 'Victoria': value = 'vic'; break
          case 'New South Wales': value = 'nsw'; break
          case 'Australian Capital Territory': value = 'act'; break
          case 'Queensland': value = 'qld'; break
          default: value = entry.competitor?.athlete?.nation?.ioc
        }
      } else {
        value = entry.competitor?.athlete?.nation?.ioc
      }
      return flag ? this.correctedStateFlag(value) : value
    },
    navigateToScoresheet (entryId) {
      if (this.judge && this.judge.number) {
        const rt = this.$route.params
        console.log(`/scoresheet/${rt.showId}/${rt.competitionId}/${rt.roundId}/${entryId}/${this.judge.number}`)
        this.$router.push(`/scoresheet/${rt.showId}/${rt.competitionId}/${rt.roundId}/${entryId}/${this.judge.number}`)
      }
    },
    correctedStateFlag (state) {
      let path = 'https://spectator-judging.s3.eu-central-1.amazonaws.com/flags/svg/regions/'
      switch (state) {
        case 'vic': return path + 'cd-vic.svg'
        case 'nsw': return path + 'cd-nsw.svg'
        case 'act': return path + 'cd-act.svg'
        case 'qld': return path + 'cd-qld.svg'
        default: return state
      }
    }
  }
}
</script>
<style lang="sass" scoped>
  .list-card > *
    padding-bottom: 10px
    padding-top: 15px
</style>
