<template>
  <q-page class="column col justify-center items-center" padding>
    <q-card class="full-width bg-grey-9" dark>
      <q-card-section class="row justify-between">
        <div class="text-h6 text-cyan link">
          <router-link to="/welcome">Return to home</router-link>
        </div>
        <q-card class="col-9 bg-grey-8 text-right" dark flat>
          <q-card-section><div class="text-h4" v-if="show">{{ show.name }}</div></q-card-section>
        </q-card>
      </q-card-section>
      <q-card-section class="text-subtitle1 q-py-none">These competitions are availiable</q-card-section>
      <q-card-section>
        <q-card class="full-width q-mt-sm bg-grey-8" dark flat
                v-for="competition in competitions"
                :key="competition.id">
          <q-item class="q-pa-md q-pb-xs" clickable
                  :to="`/rounds/${$route.params.showId}/${competition.id}`">
            <div v-if="competition.status === 'RUNNING'"
                 class="absolute-left justify-center column bg-cyan"
                 style="width: 30px; border-radius: 5px 0 0 0">
              <q-item-label class="text-h6 self-center q-mt-sm rotate-270">LIVE</q-item-label>
            </div>
            <q-item-section avatar>
              <q-item-label class="q-ml-lg text-h6">{{ competition.number }}</q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label class="text-h5">{{ competition.name }}</q-item-label>
              <q-item-label class="text-subtitle2 text-grey-5">{{ $date(competition.zonedInstant.instant).format('dddd, Do MMMM [at] HH:mm') }} You are sitting at Position {{ currentJudge(competition) && currentJudge(competition).number }}</q-item-label>
            </q-item-section>
            <q-item-section side class="text-primary">
              {{competition.numberOfFinishedCompetitors}} of {{competition.numberOfCompetitors}} competitors
            </q-item-section>
          </q-item>
          <q-linear-progress
            :value="competition.numberOfFinishedCompetitors / competition.numberOfCompetitors"
            rounded size="lg"
            color="cyan"
            track-color="grey"
          />
        </q-card>
      </q-card-section>
    </q-card>
  </q-page>
</template>
<script>
import CampDraftingJudgeShowAndCompetitionsQuery from 'Queries/judge/CampDraftingJudgeShowAndCompetitions.gql'

export default {
  data () {
    return {
      show: {},
      competitions: []
    }
  },
  apollo: {
    show: {
      query: CampDraftingJudgeShowAndCompetitionsQuery,
      variables () { return { showId: this.$route.params.showId } },
      watchLoading (isLoading) {
        this.isQueryLoading = isLoading
      },
      result ({ data, loading, networkStatus }) {
        if (data) {
          this.show = data.show
          this.competitions = data.competitions
        }
      }
    }
  },
  methods: {
    currentJudge (competition) {
      if (!localStorage.authResult) return {}
      const loggedInJudge = JSON.parse(localStorage.authResult)
      for (const profile of loggedInJudge?.account?.profiles) {
        const judge = competition?.competitionJudges?.find(competitionJudge => Number(competitionJudge.judge?.id) === Number(profile.judge?.id))
        if (judge) return judge
      }
    }
  }
}
</script>
