<template>
  <transition>
    <competitors-component v-if="!currentCompetitor"
                           ref="competitorList"
                           :live-competitors="liveCompetitors"
                           :update-message="updateMessage"
                           @update:competitor="updateCurrentCompetitor"
                           @clear:liveCompetitors="removeLiveCompetitors" />
    <scoresheet :round-entry="currentCompetitor"
                :judge-id="judge" v-else
                @update:closeScoresheet="closeScoresheet"></scoresheet>
  </transition>
</template>
<script>
import CompetitorsComponent from 'Components/competitors.vue'
import Scoresheet from 'Components/scoresheet.vue'

import getCampDraftingCompetitionJudge from 'Queries/competition/GetCampDraftingCompetitionJudge.gql'

export default {
  components: { CompetitorsComponent, Scoresheet },
  data () {
    return {
      subscriptions: [],
      liveCompetitors: [],
      updateMessage: null,
      judge: null,
      currentCompetitor: null
    }
  },
  apollo: {
    competition: {
      query: getCampDraftingCompetitionJudge,
      variables () { return { competitionId: this.$route.params.competitionId } },
      watchLoading (isLoading) {
        this.isQueryLoading = isLoading
      },
      result ({ data, loading, networkStatus }) {
        if (data?.competition) {
          const account = this.$auth.getUser()
          this.judge = Object.assign({}, this._.find(data.competition?.competitionJudges, judge => {
            return this._.some(account.profiles, profile => {
              return judge.judge?.id === profile.judge?.id
            })
          }))
        }
      }
    }
  },
  mounted () {
    this.subscribeToSockets()
  },
  methods: {
    subscribeToSockets () {
      if (!this.isSubscribed) {
        this.isSubscribed = true
        this.connectSubscriptionIndex = this.$stomp.subscribeToConnect(() => {
          if (this.$route.params.competitionId) {
            this.subscriptions.push(
              this.$stomp.subscribe(`/topic/camp-drafting/${this.$route.params.competitionId}/entry/started`, this.onEntryStarted.bind(this))
            )
            this.subscriptions.push(
              this.$stomp.subscribe(`/topic/camp-drafting/${this.$route.params.competitionId}/entry/updated`, this.updateRoundEntryScores.bind(this))
            )
          }
        })
        this.disconnectSubscriptionIndex = this.$stomp.subscribeToDisconnect(() => {
          this.subscriptions.forEach(subscription => { subscription.unsubscribe() })
          this.subscriptions.splice(0, this.subscriptions.length)
        })
      }
    },
    removeLiveCompetitors () {
      this.liveCompetitors = []
      console.warn(this.liveCompetitors)
    },
    updateRoundEntryScores (value) {
      this.updateMessage = value
    },
    onEntryStarted (value) {
      const startData = JSON.parse(value.body)
      if (!this.liveCompetitors.includes(startData.roundEntryId)) this.liveCompetitors.push(startData.roundEntryId)
      if (this.judge) {
        this.$set(this, 'currentCompetitor', { id: startData.roundEntryId })
      }
    },
    updateCurrentCompetitor (value) {
      this.$set(this, 'currentCompetitor', value)
    },
    closeScoresheet () {
      this.currentCompetitor = null
    }
  }
}
</script>
