<template>
  <q-page class="column col justify-center items-center" padding>
    <q-card class="full-width q-mb-sm bg-grey-9" dark>
      <q-card-section class="row justify-between">
        <div class="text-h6 text-cyan link">
          <router-link :to="`/competitions/${$route.params.showId}`">Return to competitions</router-link>
        </div>
        <q-card class="col-9 bg-grey-8 text-right" dark flat>
          <q-card-section><div class="text-h4" v-if="competition">{{ competition.name }}</div></q-card-section>
        </q-card>
      </q-card-section>
      <q-card-section class="text-subtitle1 q-py-none">These rounds are availiable</q-card-section>
      <q-card-section>
        <q-card class="list-card full-width q-mb-sm bg-grey-8" dark flat v-for="round in filteredRounds"
                :key="round.id">
          <q-item class="q-pa-md q-pb-xs" clickable
                  :to="`/competitors/${$route.params.showId}/${$route.params.competitionId}/${round.id}`">
            <div v-if="round.status === 'RUNNING'"
                  class="absolute-left justify-center column bg-cyan"
                  style="width: 30px; border-radius: 5px 0 0 0">
              <q-item-label class="text-h6 self-center q-mt-sm rotate-270">LIVE</q-item-label>
            </div>
            <q-item-section avatar>
              <q-item-label class="q-ml-lg text-h6">{{ round.number }}</q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label class="text-h5">{{ round.name }}</q-item-label>
              <q-item-label class="text-subtitle1 text-grey-5">{{ round.roundEntries.length }} competitors</q-item-label>
            </q-item-section>
          </q-item>
          <q-linear-progress
            v-if="round.roundEntries"
            :value="_.filter(round.roundEntries, c => c.status === 'UPCOMING' || c.status === 'RUNNING') / round.roundEntries.length"
            rounded size="lg"
            color="cyan"
            track-color="grey"
          />
        </q-card>
      </q-card-section>
    </q-card>
  </q-page>
</template>
<script>
import getCampDraftingCompetitionRounds from 'Queries/competition/getCampDraftingCompetition.gql'

export default {
  data () {
    return {
      competition: {},
      rounds: []
    }
  },
  apollo: {
    competition: {
      query: getCampDraftingCompetitionRounds,
      variables () { return { competitionId: this.$route.params.competitionId, showId: 26 } },
      watchLoading (isLoading) {
        this.isQueryLoading = isLoading
      },
      result ({ data, loading, networkStatus, errors }) {
        if (data) {
          this.competition = data.competition
          this.rounds = data.competition?.rounds
        }
      }
    }
  },
  computed: {
    filteredRounds () {
      return this._.chain(this.rounds)
        .reject(round => round.status === 'FINISHED')
        .orderBy('number')
        .value()
    }
  }
}
</script>
