<template>
  <q-input type="number"
           @focus="$event.target.select()"
           @blur="storeMarkToSend"
           @keyup="onKeyUp"
           hide-underline
           autocomplete="off"
           :ref="idRef"
           :key="idRef"
           :readonly="readonly"
           v-model="displayValue"
           :id="idRef"
           :style="styles"
           debounce="250"
           mask="numeric"
           class="grade-input fit full-height full-width"/>
</template>

<script>
export default {
  props: {
    value: {
      type: String | Number,
      default: null
    },
    readonly: {
      type: Boolean,
      default: false
    },
    styles: {
      type: String,
      default: ''
    },
    idRef: {
      type: String,
      default: ''
    },
    min: {
      type: Number,
      default: 0
    },
    max: {
      type: Number,
      required: true
    },
    markStep: {
      type: String,
      default: '5'
    }
  },
  methods: {
    formatter: function (value) {
      if (value === null) return null
      const markStep = new RegExp(`(\\.)(0|${this.markStep})?.*`)
      let filteredMark = value
        // Remove anything that isn't valid in a number
        .replace(/[^\d.]/g, '')
        // Prevent more than one dot
        .replace(/([^.]*\.[^.]*)\./g, '$1')
        // Remove decimal marks if it's not .5 or .0
        .replace(markStep, '$1$2')
        .replace(',', '.')
      if (parseFloat(filteredMark) > this.max) {
        filteredMark = null
      }
      return filteredMark
    },
    onKeyUp: function (evt) {
      if (evt.key === 'Tab') return
      const value = this.formatter(evt.target.value)
      evt.target.value = value
    },
    storeMarkToSend (mark) {
      this.$emit('update:updateMark', mark)
    }
  },
  computed: {
    displayValue: {
      get: function () {
        if (this.value !== null) {
          return String(this.value)
        }
        return ''
      },
      set: function (modifiedValue) {
        let filteredMark = this.formatter(modifiedValue)
        this.$emit('input', filteredMark)
        this.storeMarkToSend(filteredMark)
      }
    }
  }
}
</script>
<style lang="stylus" scoped>
  .grade-input >>> input
    text-align: center !important
    height: 100%
    font-weight: 400
  .grade-input >>> div
    height: 100%
  /* Chrome, Safari, Edge, Opera */
  .grade-input >>> input::-webkit-outer-spin-button,
  .grade-input >>> input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  .grade-input >>> input[type=number] {
    -moz-appearance: textfield;
  }
</style>
