<template>
  <q-page class="column col justify-center items-center" padding>
    <q-card class="full-width q-mb-sm bg-grey-9" dark style="max-height: calc(200vh - 44px); overflow-y: scroll">
      <q-card-section class="row justify-between">
        <div class="text-h6 text-cyan link">
          <router-link :to="`/rounds/${$route.params.showId}/${$route.params.competitionId}`">Return to rounds</router-link>
        </div>
        <q-card class="col-9 bg-grey-8 text-left" dark flat>
          <div v-if="round.status === 'RUNNING'"
                class="absolute-left justify-center column bg-cyan"
                style="width: 30px; border-radius: 5px 0 0 5px">
            <q-item-label class="text-h6 self-center q-mt-sm rotate-270">LIVE</q-item-label>
          </div>
          <q-item>
            <q-item-section avatar class="text-h6 text-center q-ml-lg" v-if="round">{{ round.number }}</q-item-section>
            <q-item-section class="text-h5" v-if="round">
              <q-item-label>{{ round.name }}</q-item-label>
              <q-item-label class="text-subtitle1 text-grey-6">{{ _.filter(competitors, c=>c.status!=='UPCOMING').length }} of {{ competitors.length }} competitors finished</q-item-label>
            </q-item-section>
          </q-item>
          <q-linear-progress
            :value="_.filter(competitors, c=>c.status!=='UPCOMING').length / competitors.length"
            rounded size="lg"
            color="cyan"
            track-color="grey"
          />
        </q-card>
      </q-card-section>
      <q-card-section class="text-subtitle1 q-py-none" v-if="!(filteredFinishedRoundEntries.length > 0) && filteredUpcomingRoundEntries.length > 0"
        >{{ filteredUpcomingRoundEntries.length > 0 ? 'These competitors are availiable' : 'No competitors available' }}</q-card-section>
      <q-virtual-scroll :items="filteredUpcomingRoundEntries"
                        :virtual-scroll-item-size="80"
                        :virtual-scroll-item-slice="15"
                        class="q-px-md" style="max-height: calc(100vh - 184px)">
        <template v-slot="{ item }">
          <q-card class="list-card full-width q-mb-sm bg-grey-8" dark flat
                  :key="item.id">
            <q-item class="q-pa-md q-py-none" clickable v-ripple
                    @click="navigateToScoresheet(item)">
              <div v-if="item.status === 'RUNNING'"
                    class="absolute-left justify-center column bg-cyan"
                    style="width: 30px; border-radius: 5px 0 0 5px">
                <q-item-label class="text-h6 self-center q-mt-sm rotate-270">LIVE</q-item-label>
              </div>
              <q-item-section side class="text-grey-5">{{ item.numberInRound }}</q-item-section>
              <q-item-section avatar class="q-ml-lg q-pr-sm">
                <flag :ioc="getState(item, true)" size="45" style="margin-top: -10px"/>
                <div style="margin-bottom: -10px"
                    class="text-uppercase text-subtitle self-center">{{ getState(item) }}</div>
              </q-item-section>
              <q-item-section>
                <q-item-label class="text-h5">{{ item.competitor.athlete.firstName }} {{ item.competitor.athlete.familyName }}</q-item-label>
                <q-item-label class="text-subtitle1 text-grey-5">{{ item.competitor.horse.name }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-card>
        </template>
      </q-virtual-scroll>
      <q-virtual-scroll :items="filteredFinishedRoundEntries"
                        v-if="filteredFinishedRoundEntries.length > 0"
                        :virtual-scroll-item-size="80"
                        :virtual-scroll-item-slice="15"
                        class="q-px-md" style="max-height: calc(100vh - 184px)">
        <template v-slot:before>
          <q-card-section class="text-subtitle1 q-py-none" >Finished competitors</q-card-section>
        </template>
        <template v-slot="{ item }">
          <q-card class="list-card full-width q-mb-sm bg-grey-8" dark
                  :key="item.id">
            <q-item class="q-pa-md q-py-none" clickable>
              <div v-if="item.status !== 'UPCOMING' || findJudgeResult(item.judgeResults)"
                  class="absolute-left justify-center column bg-green-7"
                  style="width: 30px; border-radius: 5px 0 0 5px">
                <q-item-label class="text-h6 self-center q-mt-lg rotate-270">DONE</q-item-label>
              </div>
              <q-item-section avatar class="q-ml-lg q-pr-sm">
                <flag :ioc="getState(item, true)" size="45" style="margin-top: -10px"/>
                <div style="margin-bottom: -10px"
                    class="text-uppercase text-subtitle self-center">{{ getState(item) }}</div>
              </q-item-section>
              <q-item-section>
                <q-item-label class="text-h5">{{ item.competitor.athlete.firstName }} {{ item.competitor.athlete.familyName }}</q-item-label>
                <q-item-label class="text-subtitle1 text-grey-5">{{ item.competitor.horse.name }}</q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item class="q-py-none">
                  <q-item-section class="text-subtitle1 text-center">
                    <q-item-label class="text-primary">You:</q-item-label>
                    <q-item-label>{{ item.judgeResults && findJudgeResult(item.judgeResults) && findJudgeResult(item.judgeResults).finalPoints }}</q-item-label>
                  </q-item-section>
                </q-item>
              </q-item-section>
              <q-item-section>
                <q-item class="q-py-none">
                  <q-item-section class="text-subtitle1 text-center">
                    <q-item-label>{{ item.resultOfficial }}</q-item-label>
                    <q-item-label class="text-primary" v-if="item.rank">Rank {{ item.rank }}</q-item-label>
                  </q-item-section>
                </q-item>
              </q-item-section>
            </q-item>
          </q-card>
        </template>
      </q-virtual-scroll>
    </q-card>
  </q-page>
</template>
<script>
import getCampDraftingRoundEntries from 'Queries/competition/getCampDraftingRound.gql'
import Flag from 'Components/Flag.vue'

export default {
  components: { Flag },
  data () {
    return {
      round: {},
      competitors: [],
      judge: {},
      subscriptions: [],
      redirectLink: ''
    }
  },
  props: {
    liveCompetitors: {
      type: Array,
      default: () => []
    },
    updateMessage: {
      defaul: null
    }
  },
  watch: {
    liveCompetitors (value) {
      if (value?.length === 0) return
      value.forEach(i => {
        const competitor = this._.find(this.competitors, competitor => String(competitor.id) === String(i))
        if (competitor?.status === 'UPCOMING') competitor.status = 'RUNNING'
      })
      this.$emit('clear:liveCompetitors')
    },
    updateMessage (value) {
      this.updateRoundEntryScores(value)
    }
  },
  apollo: {
    round: {
      query: getCampDraftingRoundEntries,
      variables () { return { roundId: this.$route.params.roundId } },
      watchLoading (isLoading) {
        this.isQueryLoading = isLoading
      },
      result ({ data, loading, networkStatus }) {
        if (data?.round) {
          this.round = data.round
          this.competitors = data.round?.roundEntries
        }
      }
    }
  },

  computed: {
    filteredUpcomingRoundEntries () {
      try {
        return this._.chain(this.competitors)
          .filter(entry => (entry.status === 'UPCOMING' || entry.status === 'RUNNING') && this.findJudgeResult(entry.judgeResults)?.status !== 'CONFIRMED')
          .orderBy('numberInRound')
          .value()
      } catch (err) { console.error(err); return [] }
    },
    filteredFinishedRoundEntries () {
      try {
        return this._.chain(this.competitors)
          .reject(entry => (entry.status === 'UPCOMING' || entry.status === 'RUNNING') && this.findJudgeResult(entry.judgeResults)?.status !== 'CONFIRMED')
          .orderBy('rank')
          .value()
      } catch (err) { console.error(err); return [] }
    }
  },
  methods: {
    findJudgeResult (judgeResults) {
      return judgeResults?.find(judgeResult => judgeResult.roundEntry?.id) || {}
    },
    updateRoundEntryScores (msgResponse) {
      const updateInformation = JSON.parse(msgResponse.body)
      if (updateInformation.type === 'UPDATED') {
        const competitor = this._.find(this.competitors, competitor => Number(competitor.id) === Number(updateInformation.id))
        Object.assign(competitor, {
          rank: updateInformation.rank,
          resultOfficial: updateInformation.resultOfficial,
          status: updateInformation.status,
          judgeResults: updateInformation.judgeResults.map(newJR => {
            const existingJudgeResult = competitor.judgeResults?.find(existingJR => String(existingJR?.roundEntry?.id) === String(newJR?.roundEntryId) && String(existingJR?.competitionJudge?.id) === String(newJR?.competitionJudgeId))
            newJR.finalPoints = Number(newJR.cutOutPoints) + Number(newJR.horseWorkPoints) + Number(newJR.coursePoints)
            return {...existingJudgeResult, ...newJR}
          })
        })
      }
    },
    getState (entry, flag = false) {
      let value
      if ((entry.competitor?.athlete?.club?.name)) {
        switch (entry.competitor?.athlete?.club?.name) {
          case 'Victoria': value = 'vic'; break
          case 'New South Wales': value = 'nsw'; break
          case 'Australian Capital Territory': value = 'act'; break
          case 'Queensland': value = 'qld'; break
          default: value = entry.competitor?.athlete?.nation?.ioc
        }
      } else {
        value = entry.competitor?.athlete?.nation?.ioc
      }
      return flag ? this.correctedStateFlag(value) : value
    },
    navigateToScoresheet (entryId) {
      this.$emit('update:competitor', entryId)
    },
    correctedStateFlag (state) {
      let path = 'https://spectator-judging.s3.eu-central-1.amazonaws.com/flags/svg/regions/'
      switch (state) {
        case 'vic': return path + 'cd-vic.svg'
        case 'nsw': return path + 'cd-nsw.svg'
        case 'act': return path + 'cd-act.svg'
        case 'qld': return path + 'cd-qld.svg'
        default: return state
      }
    }
  }
}
</script>
<style lang="sass" scoped>
  .list-card > *
    padding-bottom: 10px
    padding-top: 15px
</style>
