<template>
  <svg :style="`width:${usedSize}; height:${usedSize}`" :class="outerRim ? 'outer-rim' : ''">
    <circle cx="50%" cy="50%" r="45%" fill="darkgrey" />
    <image v-if="visible" x="4%" y="4%" width="92%" height="92%"
            :href="flagUrl" @error="hideBrokenImage" ref="flagImage"/>
    <circle cx="50%" cy="50%" r="47%" fill="transparent" :stroke="rim" stroke-width="5%" />
  </svg>
</template>

<style lang="stylus" scoped>
.outer-rim
  display: inline-flex
  flex: 0
  box-sizing: border-box
  padding: 2px
  border-radius: 50%
  background: #ddd
</style>

<script>
export default {
  props: {
    ioc: {
      type: String,
      default: null,
      required: true
    },
    flagData: {
      type: String,
      default: null
    },
    height: {
      type: [ Number, String ],
      default: null
    },
    size: {
      type: [ Number, String ],
      default: null
    },
    rim: {
      type: String,
      default: 'white'
    },
    outerRim: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    hideBrokenImage () {
      this.$refs.flagImage.style.visibility = 'hidden'
    }
  },
  computed: {
    usedSize () {
      let size = this.size || this.height || 35
      if (String(size).match(/[a-z]/gi)) return size
      else return size + 'px'
    },
    getIoc () {
      return (this.ioc ? this.ioc : this.flagData).toLowerCase() || 'png'
    },
    visible () {
      return this.flagData || this.ioc
    },
    flagUrl () {
      if (this.ioc.match(/^(http:\/\/)|^(https:\/\/)/i)) {
        return this.ioc
      } else {
        return 'https://s3.eu-central-1.amazonaws.com/spectator-judging/flags/svg/' + (this.getIoc) + '.svg'
      }
    }

  }
}
</script>
