<template>
  <q-page padding style="overflow-y: hidden" class="big-text" :key="`scoresheet-${roundEntry.id}-${mutableScoresheet.roundEntry.id}`">
    <div class="absolute-top bg-white">
    <div class="bg-red row" v-if="roundEntry.id != mutableScoresheet.roundEntry.id">Warning! An error has occured. Contact the office and do not score this competitor!</div>
    <q-item v-if="competitor">
      <q-item-section avatar class="text-center" v-if="competitor.athlete">
        <flag size="50" :ioc="correctedStateFlag"/>
      </q-item-section>
      <q-item-section>
        <q-item-label class="text-h5 text-black">{{ competitor.athlete.firstName }} {{ competitor.athlete.familyName }}</q-item-label>
        <q-item-label class="text-h6 text-grey-6">{{ competitor.horse.name }} <q-chip dense class="text-bold q-pa-xs q-px-sm">{{ scoresheet.numberInRound }}</q-chip></q-item-label>
      </q-item-section>
      <small class="bg-grey-8 text-white text-center font-arial absolute q-pt-xs"
           style="border-radius: 0 0 15px 15px; width: 130px; left: 50%; top:0; font-family: verdana; font-size: 60%;"
           >&nbsp;{{ time }}&nbsp;</small>
      <q-item-section side>
        <div class="col" style="border: 3px solid">
          <div class="row justify-center text-bold">{{ judgeId.number }}</div>
          <div class="row smaller"><small class="smaller q-mx-xs">judge position</small></div>
        </div>
      </q-item-section>
    </q-item>
    </div>

    <q-list class=" bg-white q-my-g q-py-lg" style="margin-top: 100px">
      <q-item class="bordered row q-py-none">
        <q-item-section avatar class="text-center col-7 q-pl-sm">
          <q-item-label>Cut Out <span class="smaller text-grey">(maximum 26 points)</span></q-item-label>
        </q-item-section>
        <q-item-section class="text-center large-input q-pa-none">
          <camp-drafting-filtered-mark-input
            v-model="mutableScoresheet.cutOutPoints"
            :max="26"
            @update:updateMark="updateJudgeResult"
            id-ref="mark-1"
            :readonly="mutableScoresheet.status === 'CONFIRMED'"
            required
            :styles="`background: ${getStatusBackground}`"/>
        </q-item-section>
      </q-item>
      <q-item class="bordered row q-py-none" v-if="!onlyCampIsScored">
        <q-item-section avatar class="text-center col-7 q-pl-sm">
          <q-item-label>Horse Work <span class="smaller text-grey">(maximum 70 points)</span></q-item-label>
        </q-item-section>
        <q-item-section class="text-center large-input">
          <camp-drafting-filtered-mark-input
            v-model="mutableScoresheet.horseWorkPoints"
            :max="70"
            id-ref="mark-3"
            @update:updateMark="updateJudgeResult"
            :readonly="mutableScoresheet.status === 'CONFIRMED'"
            :styles="`background: ${getStatusBackground}`"/>
        </q-item-section>
      </q-item>
      <q-item class="bordered row q-py-none" v-if="!onlyCampIsScored">
        <q-item-section avatar class="text-center col-7 q-pl-sm">
          <q-item-label>Course <span class="smaller text-grey">(maximum 4 points)</span></q-item-label>
        </q-item-section>
        <q-item-section class="text-center large-input">
          <camp-drafting-filtered-mark-input
            v-model="mutableScoresheet.coursePoints"
            :max="4"
            id-ref="mark-2"
            mark-step="0"
            @update:updateMark="updateJudgeResult"
            :readonly="mutableScoresheet.status === 'CONFIRMED'"
            :styles="`background: ${getStatusBackground}`"/>
        </q-item-section>
      </q-item>
      <q-item class="row q-py-none">
        <q-item-section avatar class="text-center col-7 q-pl-sm">
          <h2 v-if="mutableScoresheet.getFinalPoints()">{{ mutableScoresheet.getFinalPoints() }} <span class="smaller text-grey">Pts</span></h2>
        </q-item-section>
        <q-item-section class="col text-center large-input"
          v-if="mutableScoresheet.status === 'CONFIRMED'">
          <div class="row justify-center">
            <img src="~Assets/jumping-cow.webp" style="width:100px" v-if="mutableScoresheet.status === 'CONFIRMED'">
          </div>
          <div class="smaller text-positive">Score submitted!</div>
        </q-item-section>
        <q-item-section class="text-center large-input" v-else>
          <div>
            <q-btn size="lg"
                   :color="mutableScoresheet.status === 'CONFIRMED' ? 'positive' : 'primary'"
                   icon="check"
                   @click="confirmJudgeResult"/>
          </div>
          <div class="smaller">Submit</div>
        </q-item-section>
      </q-item>
    </q-list>
    <div class="row text-black">{{ roundEntry.id }}-{{ mutableScoresheet.roundEntry.id }}</div>
    <q-page-sticky position="bottom-left" class="q-ma-sm">
      <div class="row items-center" style="gap: 1rem">
        <q-btn icon="reply" size="lg" round color="primary" @click="returnToCompetitors"/>
        <div>Return to Competitors</div>
      </div>
    </q-page-sticky>
    <side-scoresheet-menu v-model="showMenu" @update:closeMenu="returnToCompetitors" position="left"/>
  </q-page>
</template>
<script>
import CampDraftingFilteredMarkInput from 'Components/CampDraftingFilteredMarkInput.vue'
import GetCampDraftingRoundEntry from 'Queries/competition/GetCampDraftingScoresheet.gql'
import SaveCampDraftingJudgeResultMutation from 'Mutations/campdrafting/SaveCampDraftingJudgeResult.gql'
import SideScoresheetMenu from 'Components/SideScoresheetMenu.vue'
import UpdateCampDraftingScoresheetInCache from 'Mutations/local/UpdateCampDraftingScoresheetInCache.gql'
import Flag from 'Components/Flag.vue'

class CampDraftingJudgeResult {
  constructor (roundEntryId) {
    this.id = null
    this.__typename = 'CampDraftingJudgeResult'
    this.competitionJudge = {}
    this.status = 'MARKING'
    this.roundEntry = {
      id: roundEntryId
    }
    this.coursePoints = null
    this.cutOutPoints = null
    this.horseWorkPoints = null
  }
  getFinalPoints () {
    return Number(this.coursePoints) + Number(this.cutOutPoints) + Number(this.horseWorkPoints)
  }
}
export default {
  components: { Flag, SideScoresheetMenu, CampDraftingFilteredMarkInput },
  data () {
    return {
      competitor: this.roundEntry.competitor,
      scoresheet: {},
      competition: {},
      judge: {},
      showMenu: false,
      time: '',
      subscriptions: [],
      onlyCampIsScored: false,
      mutableScoresheet: new CampDraftingJudgeResult(this.roundEntry.id)
    }
  },
  props: {
    roundEntry: {
      type: Object,
      required: true
    },
    judgeId: {
      type: Object,
      required: true
    }
  },
  watch: {
    roundEntryId () {
      this.mutableScoresheet = new CampDraftingJudgeResult(this.roundEntry.id)
    }
  },
  apollo: {
    roundEntry: {
      query: GetCampDraftingRoundEntry,
      variables () {
        return {
          roundEntryId: this.roundEntry.id,
          roundId: this.$route.params.roundId
        }
      },
      result ({ data, loading, networkStatus }) {
        if (data) {
          this.scoresheet = new CampDraftingJudgeResult(data.roundEntry.id)
          this.mutableScoresheet = new CampDraftingJudgeResult(data.roundEntry.id)
          this.scoresheet = data.roundEntry
          this.competitor = data.roundEntry?.competitor
          this.mutableScoresheet.competitionJudge = this.judgeId
          this.competition = data.campDraftingCompetition
          this.onlyCampIsScored = data.round?.onlyCampIsScored
          this.judge = this._.find(data.campDraftingCompetition?.competitionJudges, judge => Number(judge.number) === Number(this.judgeId.number))
          const judgeResult = this._.find(this.scoresheet.judgeResults, result => {
            return Number(result.competitionJudge?.id) === Number(this.judgeId?.id)
          })
          if (judgeResult) {
            Object.assign(this.mutableScoresheet, {
              id: judgeResult.id,
              status: judgeResult.status,
              cutOutPoints: judgeResult.cutOutPoints,
              coursePoints: judgeResult.coursePoints,
              horseWorkPoints: judgeResult.horseWorkPoints
            })
          } else {
            Object.assign(this.mutableScoresheet, {
              status: 'MARKING',
              competitionJudge: this.judgeId,
              cutOutPoints: null,
              coursePoints: null,
              horseWorkPoints: null
            })
          }
        }
      }
    }
  },
  created () {
    this.time = this.$date().format('HH:mm:ss')
    this.timer = setInterval(() => {
      try {
        this.time = this.$date().format('HH:mm:ss')
      } catch (err) { console.error(err) }
    }, 1000)
  },
  destroyed () {
    clearInterval(this.timer)
  },
  methods: {
    updateJudgeResult (value) {
      this.onJudgeResultChanged()
    },
    confirmJudgeResult () {
      if (this.mutableScoresheet.cutOutPoints !== null && typeof parseFloat(this.mutableScoresheet.cutOutPoints) === 'number' && this.mutableScoresheet.cutOutPoints >= 0) {
        this.mutableScoresheet.status = 'CONFIRMED'
        this.onJudgeResultChanged()
      } else {
        this.$q.notify({
          message: 'You must enter 0 or greater for cut out!',
          color: 'red'
        })
      }
    },
    async onJudgeResultChanged () {
      if (!this.mutableScoresheet.competitionJudge?.id) { this.mutableScoresheet.competitionJudge = this.judgeId }
      const mutateJudgeResult = this._.cloneDeep(this.mutableScoresheet)
      try {
        delete mutateJudgeResult.__typename
        delete mutateJudgeResult.competitionJudge?.__typename
        delete mutateJudgeResult.competitionJudge?.judge?.__typename
        if (mutateJudgeResult.cutOutPoints === '') mutateJudgeResult.cutOutPoints = null
        if (mutateJudgeResult.coursePoints === '') mutateJudgeResult.coursePoints = null
        if (mutateJudgeResult.horseWorkPoints === '') mutateJudgeResult.horseWorkPoints = null
        const {data, errors} = await this.$apollo.mutate({
          mutation: SaveCampDraftingJudgeResultMutation,
          variables: {
            judgeResult: Object.assign(mutateJudgeResult, {roundEntry: {id: this.roundEntry.id}})
          }
        })
        if (errors) this.transmisionError(errors, mutateJudgeResult)

        if (data?.saveCampDraftingJudgeResult) {
          // eslint-disable-next-line eqeqeq
          const judgeResult = this._.find(data.saveCampDraftingJudgeResult.judgeResults, result => result.competitionJudge?.id == this.judgeId?.id)

          if (judgeResult) Object.assign(this.mutableScoresheet, judgeResult)
          this.$apollo.mutate({
            mutation: UpdateCampDraftingScoresheetInCache,
            variables: {
              competitionId: this.$route.params.competitionId,
              roundEntryUpdate: Object.assign({
                __typename: 'CampDraftingRoundEntry',
                rank: null,
                resultOfficial: null,
                judgeResults: []
              }, data.saveCampDraftingJudgeResult)
            }
          })
        } else {
          throw Error('API did not result result')
        }
      } catch (err) { console.error(err) }
    },
    transmisionError (err, mutateJudgeResult) {
      console.error('Error submitting result', err)
      if (this.mutableScoresheet.competitionJudge && this.mutableScoresheet.status !== 'MARKING') {
        if (!this.mutableScoresheet.id) {
          Object.assign(this.mutableScoresheet, {roundEntry: {id: this.roundEntry.id}})
          console.warn('needed to assign id')
        }
        this.queueResultForRetry(mutateJudgeResult)
        this.$q.notify({
          message: 'There was an error transmitting the result!',
          caption: 'Please contact the control operator',
          color: 'red'
        })
      }
    },
    queueResultForRetry (judgeResult) {
      const untransmittedResults = JSON.parse(localStorage.getItem('untransmittedResults'))
      try {
        const elementIndex = this._.findIndex(untransmittedResults, (result) => result.roundEntry?.id === judgeResult.roundEntry?.id)
        if (elementIndex >= 0) {
          untransmittedResults[elementIndex] = judgeResult
        } else {
          untransmittedResults.push(judgeResult)
        }
      } catch (err) { console.error(err) }
      localStorage.setItem('untransmittedResults', JSON.stringify(untransmittedResults))
    },
    hideOrShowMenu () {
      this.showMenu = !this.showMenu
    },
    returnToCompetitors () {
      this.$emit('update:closeScoresheet')
    }
  },
  computed: {
    roundEntryId () {
      return this.roundEntry.id
    },
    getState () {
      if (!(this.competitor.athlete.club?.name)) return this.competitor?.athlete?.nation?.ioc || ''
      switch (this.competitor?.athlete?.club?.name) {
        case 'Victoria': return 'vic'
        case 'New South Wales': return 'nsw'
        case 'Australian Capital Territory': return 'act'
        case 'Queensland': return 'qld'
        default: return this.competitor?.athlete?.nation?.ioc || ''
      }
    },
    correctedStateFlag () {
      let path = 'https://spectator-judging.s3.eu-central-1.amazonaws.com/flags/svg/regions/'
      switch (this.getState) {
        case 'vic': return path + 'cd-vic.svg'
        case 'nsw': return path + 'cd-nsw.svg'
        case 'act': return path + 'cd-act.svg'
        case 'qld': return path + 'cd-qld.svg'
        default: return this.getState
      }
    },
    getStatusBackground () {
      switch (this.mutableScoresheet?.status) {
        case 'PROVISIONAL': return 'rgba(240, 150, 32, 0.2)'
        case 'CONFIRMED': return 'rgba(33, 186, 69, 0.2)'
        default:
          if (['ELIMINATED', 'DID_NOT_COMPETE', 'RETIRED'].includes(this.competitor?.status)) {
            return 'rgba(0, 0, 0, 0.2)'
          } else {
            return 'rgba(255, 255, 255, 0.2)'
          }
      }
    }
  }
}
</script>
<style lang="sass" scoped>
  .big-text
    font-size: 2rem

  .smaller
    font-size: 0.66em !important

  .bordered > div
    border: 1px solid grey
    & + div
      border-left: 0

  .large-input
    input
      text-align: center !important
    *
      font-size: 4rem
  .bordered.row
    min-height: 130px
</style>
