<template>
  <q-dialog v-model="isOpen" position="left" dark full-height>
    <q-card style="width: 300px" dark>
      <q-card-section class="row items-center q-pb-none">
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup />
      </q-card-section>
      <q-card-section class="link">
        <div v-ripple @click="closeMenu" clickable>
          <h6 class="text-cyan">Return to competitors</h6>
        </div>
      </q-card-section>
      <!-- <q-card-section dark>
        <div class="text-cyan">Status</div>
        <q-select dark v-model="selectedCompetitorStatus"
          @input="submitStatus" emit-value
          :options="statusOptions" map-options/>
      </q-card-section> -->
    </q-card>
  </q-dialog>
</template>
<script>
export default {
  data () {
    return {
      selectedCompetitorStatus: 'UPCOMING',
      statusOptions: [
        {
          value: 'UPCOMING',
          label: 'Active'
        },
        {
          value: 'DID_NOT_COMPETE',
          label: 'Scratched'
        },
        {
          value: 'RETIRED',
          label: 'Retired'
        },
        {
          value: 'ELIMINATED',
          label: 'Eliminated'
        }
      ]
    }
  },
  methods: {
    closeMenu () {
      this.$emit('update:closeMenu', null)
    }
  },
  computed: {
    isOpen: {
      get: function () {
        return this.$attrs.value
      },
      set: function (newValue) {
        this.$emit('input', newValue)
      }
    }
  }
}
</script>
