// app global css
//@import '~variables'
.magic-stripes-top {
    padding-top: 6px;
}
.magic-stripes-top:after {
  background: linear-gradient(to right, #7CCD3E 25%,#048FCF 25%, #048FCF 50%, #FE181B 50%, #FE181B 75%, #FFC40E 75%);
  position: absolute;
  content: '';
  height: 6px;
  right: 0;
  left: 0;
  top: 0;
}

.q-card {
  border-radius: 10px;
}

.group-header {
    padding: 0.5rem 1rem
    background: #ddd
    font-weight: 600
}

.darken-on-hover
  &:hover
    cursor: pointer
    & .svg_primary
      fill: $secondary
      fill: var(--q-color-secondary)

.return-button {
  background: #1D73BE;
  // border-color: var(--q-color-primary);
  color: white;
  padding: 5px 10px;
  height: 34px;
  display: inline-flex;
  position: absolute;
  justify-items: center;
  align-items: center;
  left: 10px;
  margin: 10px;
  position: relative;
  clip-path: polygon(0 50%, 5% 5%, 7% 0, 100% 0, 100% 100%, 7% 100%, 5% 95%);
  border-radius: 0 0.4rem 0.4rem 0;
}

.return-button:hover {
  background: $primary
  background: var(--q-color-primary);
  border-color: $primary;
  border-color: var(--q-color-primary);
  cursor: pointer
}
.return-button::before {
  content: "";
  background: transparent;
  border: 17px solid transparent;
  border-right-color: inherit;
  position: absolute;
  top: 0;
  left: -34px;
}

.clickable-item {
  color: $primary
  color: var(--q-color-primary)
  background: $highlight2
  background: var(--q-color-highlight2)
}

.clickable-item:hover {
  background: $secondary !important
  background: var(--q-color-secondary) !important
  color: $background
  color: var(--q-color-background)
}

.text-tiny {
  font-size: 8pt
}

.dark-background {
  background: linear-gradient(#00000022 0%, #00000010 15%)
}

.smaller
  font-size: 80%

.svg_primary
  fill: $primary
  fill: var(--q-color-primary)

.svg_accent
  fill: $accent
  fill: var(--q-color-accent)

.svg_background
  fill: $background
  fill: var(--q-color-background)

::-webkit-scrollbar
  width: 8px
  height: 8px
::-webkit-scrollbar-track
  box-shadow: inset 0 0 8px rgba(200, 200, 220, 0.1)
  border: 1px solid var(--scrollbar-border)
  border-radius: 8px
  background: var(--scrollbar-track)
  opacity: 0.5
::-webkit-scrollbar-thumb
  border-radius: 8px
  background: lightgrey
  transition: all 0.5s
  box-shadow: inset 0 0 8px rgba(128, 128, 128, 0.2)
::-webkit-scrollbar-thumb:window-inactive
  background: var(--scrollbar-thumb-inactive)
.q-toolbar
  margin-right: -8px

@media print
  .bh-row
    background: white

@media screen and (max-width: 599px) {
  .text-xs-center {
    text-align: center
  }
}