<template>
  <q-page class="column justify-center">
    <q-btn color="red" size="xs" class="absolute-top-left" icon="close" label="logout"
           @click="logout" />
    <h3 class="self-center q-mb-none">eCampdrafting</h3>
    <q-card class="list-card q-ma-xl" dark>
      <q-card-section>
        <div class="text-h4 text-cyan">Welcome {{ judge.firstName }}!</div>
        <div class="text-subtitle2"></div>
      </q-card-section>
      <q-card-section>
        <q-list>
          <q-item clickable v-ripple
                  v-for="show in judgeShows"
                  :key="show.id"
                  style="border-radius: 10px; padding: 15px;"
                  class="bg-grey-9"
                  :to="`/competitions/${show.id}`"
                  rounded>
            <q-item-section avatar>
              <q-icon color="primary" name="wifi" />
            </q-item-section>
            <q-item-section class="text-h6">{{ show.name }}</q-item-section>
          </q-item>
        </q-list>
      </q-card-section>
    </q-card>
  </q-page>
</template>
<script>
export default {
  data () {
    return {
      judgeShows: [],
      judge: {
        firstName: ''
      },
      isQueryLoading: false
    }
  },
  apollo: {
    shows: {
      query: require('Queries/judge/CampDraftingJudgeShows.gql'),
      watchLoading (isLoading) {
        this.isQueryLoading = isLoading
      },
      result ({ data, loading, networkStatus }) {
        if (data) {
          this.judgeShows = data.shows
          this.judge = this.$auth.getUser().profiles.find(profile => !!profile.judge).judge
        }
      }
    }
  },
  methods: {
    logout () {
      localStorage.removeItem('authResult')
      localStorage.removeItem('judge')
      this.$router.push('/login')
    }
  }
}
</script>
