<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style lang="stylus">
@media print
  .q-page-container
  .q-layout-page-container
    padding-top: 0px !important
    margin-top: 0px !important
  body
  html
    background: white !important

.bg-background
  background: var(--q-color-background)
.text-background
  color: var(--q-color-background)
</style>
