<template>
  <q-layout view="lHh Lpr lFf" style="overflow: hidden">
    <q-page-container style="overflow-y:scroll">
      <transition
        enter-active-class="animated slideInUp"
        leave-active-class="animated"
        appear
        :duration="100">
        <router-view />
      </transition>
    </q-page-container>
  </q-layout>
</template>
<style lang="stylus">
//@import '~variables'
.bg-pattern
  background-image: repeating-linear-gradient(45deg, #1a1a1a 0, #1a1a1a 25px, #111 25px, #111 50px, #1a1a1a 50px)
.q-page-container
  max-height: calc(100vh)
  margin-right: -10px

body, html
  --q-color-primary: $primary
  --q-color-secondary: $secondary
  --q-color-accent: $accent
  --q-color-text: $text
  --q-color-background: $background
  --q-color-neutral: $neutral
  --q-color-highlight1: $highlight1
  --q-color-highlight2: $highlight2

  font-family: 'poppins', 'open-sans', 'Lucida Sans', 'sans-serif'
  background: $background
  background: var(--q-color-background)
  color: $primary
  color: var(--q-color-primary)

.poppins
  font-family: 'poppins', 'open-sans' !important

.link
  a:link
  a:visited
    text-decoration: none
    color: cyan !important
  a:active
  a:hover
    color: darkcyan

.q-toolbar-title p
  margin: 0
  padding: 5px
  padding-top: 10px
  font-weight: 500
  display: inline

.q-toolbar .q-search
  background: white !important
  border: 1px inset $primary
  border: 1px inset var(--q-color-primary)
  box-shadow: 2px 5px 3px 0 rgba(0,0,0,0.2) inset
  display: none

.q-toolbar-title p
  display: inline-block
  font-size: 16pt

.toolbar-left
  display: black
  height: 40px
  position: relative

</style>
<script>
import { openURL, colors } from 'quasar'
const { setBrand } = colors

function msieversion () {
  var ua = window.navigator.userAgent
  var msie = ua.indexOf('MSIE ')

  if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv:11\./)) { // If Internet Explorer, return version number
    var language = window.navigator.userLanguage || window.navigator.language
    language = language.slice(0, 2)
    switch (language) {
      case 'de': alert(`Leider wird Ihr Browser von dieser Seite nicht unterstützt.\nUm die beste Erfahrung und größte Sicherheit zu gewährleisten, verwenden Sie bitte einen moderneren Browser. Wir empfehlen Google Chrome.\nVielen Dank für Ihr Verständnis!`)
        break
      default: alert(`We're sorry, but it seems you are using a browser which is not supported by our page.\nIn order to provide the best features and security we only support modern browsers. We recommend Google Chrome for the best experience browsing our page.\nThank you for your understanding.`)
    }
  }
  return false
}

export default {
  name: 'MyLayout',
  data () {
    return {
    }
  },
  created () {
    msieversion()
    switch (this.$route.params.groupName) {
      case 'gdf':
        setBrand('primary', '#143582')
        setBrand('secondary', '#1648a2')
        setBrand('accent', '#1d6d58')

        setBrand('text', '#000000')
        setBrand('background', '#FFFFFF')
        setBrand('neutral', '#9F9F9F')
        setBrand('highlight1', '#eeeeee')
        setBrand('highlight2', '#dddddd')
        break
      case 'erm':
        setBrand('primary', '#13a103')
        setBrand('secondary', '#0936a2')
        setBrand('accent', '#1d6d58')

        setBrand('text', '#000000')
        setBrand('background', '#FFFFFF')
        setBrand('neutral', '#9F9F9F')
        setBrand('highlight1', '#eeeeee')
        setBrand('highlight2', '#dddddd')
        break
      case 'wel':
        setBrand('primary', '#4B0A57')
        setBrand('secondary', '#793984')
        setBrand('accent', '#a83699')

        setBrand('text', '#000000')
        setBrand('background', '#FFFFFF')
        setBrand('neutral', '#9F9F9F')
        setBrand('highlight1', '#eeeeee')
        setBrand('highlight2', '#dddddd')
        break
      case 'boneo':
        setBrand('primary', '#015187')
        setBrand('secondary', '#0274be')
        setBrand('accent', '#b0a050')

        setBrand('text', '#000000')
        setBrand('background', '#FFFFFF')
        setBrand('neutral', '#9F9F9F')
        setBrand('highlight1', '#eeeeee')
        setBrand('highlight2', '#dddddd')
        break
      case 'abrantes':
        setBrand('primary', '#DAA520')
        setBrand('secondary', '#B5710A')
        setBrand('accent', '#666')

        setBrand('text', '#000')
        setBrand('background', '#FFFFFF')
        setBrand('neutral', '#9F9F9F')
        setBrand('highlight1', '#eeeeee')
        setBrand('highlight2', '#dddddd')
        break
      case 'tiec':
        setBrand('primary', '#046240')
        setBrand('secondary', '#44a280')
        setBrand('accent', '#1d6d58')

        setBrand('text', '#000000')
        setBrand('background', '#FFFFFF')
        setBrand('neutral', '#9F9F9F')
        setBrand('highlight1', '#eeeeee')
        setBrand('highlight2', '#dddddd')
        break
      case 'devon':
        setBrand('primary', '#b40000')
        setBrand('secondary', '#a00000')
        setBrand('accent', '#9F9F9F')

        setBrand('text', '#000000')
        setBrand('background', '#FFFFFF')
        setBrand('neutral', '#9F9F9F')
        setBrand('highlight1', '#eeeeee')
        setBrand('highlight2', '#dddddd')
        break
      case 'frankfurt':
        setBrand('primary', '#553073')
        setBrand('secondary', '#a00000')
        setBrand('accent', '#9F9F9F')

        setBrand('text', '#000000')
        setBrand('background', '#FFFFFF')
        setBrand('neutral', '#9F9F9F')
        setBrand('highlight1', '#eeeeee')
        setBrand('highlight2', '#dddddd')
        break
      case 'willinga':
        setBrand('primary', '#bb2832')
        setBrand('accent', '#ac222a')
        setBrand('secondary', '#d42e39')
        break
      case 'djwts':
        setBrand('primary', '#060225')
        setBrand('accent', 'rgb(196,148,37)')
        setBrand('secondary', '#a83699')
        break
      case 'ankum':
        setBrand('primary', '#b4975d')
        setBrand('secondary', '#433e42')
        setBrand('accent', '#6d5b4f')
        break
      case 'usef':
        setBrand('primary', '#5883C8')
        setBrand('secondary', '#EA232C')
        setBrand('accent', '#9F9F9F')
        break
      case 'usdf':
        setBrand('primary', '#004aac')
        setBrand('secondary', 'rgb(2, 39, 120)')
        setBrand('accent', '#726a5c')
        break
      case 'hd':
        setBrand('primary', '#5e1213')
        setBrand('secondary', '#882a39')
        setBrand('accent', '#c5a44e')

        setBrand('text', '#000000')
        setBrand('background', '#FFFFFF')
        setBrand('neutral', '#9F9F9F')
        setBrand('highlight1', '#eeeeee')
        setBrand('highlight2', '#dddddd')
    }
  },
  methods: {
    openURL
  }
}
</script>

<style>
</style>
